<html>
    <style>
        .person:nth-child(odd) {
            background-color: #E8E8E8;
        }
    </style>
    <head>
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    </head>
    <body>
    <div id="app">
        <h1>
            {{title}}
        </h1>
        <div id="addresses">
            <div v-if="people" v-for="(person, index) in people" class="person">
                <a :href="'/address/' + index">
                    {{person.name}} </br>
                    {{person.streetAddress}} </br>
                    {{person.city}}, {{person.state}} {{person.zipCode}}
                </a>
            </div>
        </div>
    </div>


    <script>
        const NotFound = { template: '<p>Page not found</p>' }
        const Home = { template: '<p>home page</p>' }
        const About = { template: '<p>about page</p>' }

        const routes = {
            '/': Home,
            '/about': About
        }

        const User = {
            template: '<div>User</div>'
        }

        const router = new VueRouter({
            routes: [
                // dynamic segments start with a colon
                { path: '/user/:id', component: User }
            ]
        })

        let app = new Vue({
            el: '#app',
            data: {
                title: 'All Addresses',
                people: [],
                loading: false,
                currentRoute: window.location.pathname
            },
            computed: {
                ViewComponent () {
                    console.log(this.currentRoute);
                    return routes[this.currentRoute] || NotFound
                }
            },
            render (h) { return h(this.ViewComponent) },
            created () {
                this.getAddresses();
            },
            // watch: {
            //     // call again the method if the route changes
            //     '$route': 'getAddresses'
            // },
            methods: {
                getAddresses: function () {
                    this.loading = true;
                    try {
                        fetch('https://ronnyapi.herokuapp.com/api/address.json')
                            .then(r => r.json())
                            .then(result => {
                                console.log(result.addresses);
                                this.loading = false;
                                this.people = result.addresses;
                            });
                    } catch (error) {
                        console.log(error);
                        return error;
                    }
                }
            },
        });
    </script>
    </body>
</html>
