button {
    padding: 15px 25px; 
    background: gold;
    box-shadow: 0 5px #999;
    width: 150px;
    font-family: "Courier New", Courier, monospace;
}

.divider {
    width: 200px;
    margin: 0 auto;
    display: inline-block;
}

button:active,
.button-active {
    background-color: goldenrod;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}

body {
    background-image: url("/images/people.png");
    min-width: 1126px;
}

.wrapper {
    text-align: center;
}

header {
    text-align: center;
    font-size: 50px;
    font-family: "Courier New", Courier, monospace;
    color: darkred;
}
