.picture {
    width: 25%;
}

body {
    background-color: deeppink;
}

.ok {
    margin: auto;
    width: 75%;
    background-color: aliceblue;
    padding: 10px 5%;
}

.profile {
    background-color: bisque;
    padding: 20px;
    margin: 0 0 25px 0;
}
